.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
   
    background-color: black;
    color: white;
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}
.caixa2 {
    background-color: aqua;
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
}

.caixa3 {
    background-color: maroon;
    grid-row: 2 / span 2;
    grid-column: 3 / span 2;
}